/* font popies */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&family=Roboto:wght@100;400&display=swap');

/* common-style */

body {

    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    background-color: #F3F1FF;
}

main {

    display: flex;
    justify-content: center;
}

.container {

    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;

}

hr {

    border: 1px solid #D1D1D1;
}

/* top players */

.top-players {

    margin-bottom: 30px;
}

.top-players-title {

    color: #562EFF;
    margin-top: 3px;
}

.players {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {

    display: flex;
    align-items: center;


}

.player img {

    height: 56px;
    width: 56px;

}

.player-name {

    margin-left: 10px;
    font-size: 18px;
}

/* top-blog styles */

.blog .thamnail img {

    width: 177px;
    height: 117px;
}

.blog {

    display: flex;
}

.blog-info {

    margin-left: 10px;
}

.blog-title {

    font-size: 20px;

}

.blog-author {

    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {

    text-decoration: none;

    color: #562EFF;
}